#Header,.reminders{
  background-color: transparent;
}

#Header{
  position: absolute;
  top: 4%;
  width: 100%;
}

.reminders{
  color: white;
  font-size: 200%;
  position: relative;
  left: 3%;
}

.calView{
  color: white;
  background-color: #1F1F1F;
  border-radius: 10px;
  padding: .7% 4% .7% 4%;
  float: right;  
  position: absolute;
  top: 17%;
  right: 2%;
}

.calView{
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #1F1F1F;
  border-radius: 10px;
  padding: .8% 4% .7% 4%;
  float: right;  
  position: absolute;
  top: 16%;
  right: 2%;
  border: 1px solid transparent;
}
