.slideOne, .slideTwo, .slideThree{
  border: 3px solid white;
  background-color: #07080B;
  border-radius: 25px;
}

#carouselTab{
  max-width: 70%;
  border-radius: 25px;
  margin:auto;
  position: relative;
  top: 25%;
}

.divOne, .divTwo, .divThree{
  text-align: center;
  position: relative;
  margin-top: 10%;
}

.plusOne, .plusTwo, .plusThree{
  display: inline-block;
  font-size: 1000%;
  color: white;
}

.addButton{
  background-color: transparent;
  width: 100%;
  border: 1px solid transparent;
}