.container {
  border-radius: 25px;
  background-color: #141517;
  height: 400px;
  padding: 20px;
}

.nav {
  height: 9%;
  color: #F8F9FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.overview {
  height: 91%;
  border-radius: 15px;
  background-color: #25262B;
  display: flex;
  align-items: stretch;
}

.graph {
  width: 70%;
  height: 100%;
  padding: 0%;
}

.sideinfo {
  padding: 0%;
  width: 30%;
  height: 100%;
}

.stack {
  height: 100%;
  align-items: stretch;
  justify-content: center;
}

.change {
  height: 20%;
  width: 100%;
  border-radius: 10px;
  background-color: #373A40;
  color: #F8F9FA;
}

.income {
  height: 20%;
  background-color: #51CF66;
  width: 100%;
  border-radius: 10px;
  color: #F8F9FA;
}

.expenses {
  height: 20%;
  background-color: #FA5252;
  width: 100%;
  border-radius: 10px;
  color: #F8F9FA;
}

.summaryTitle {
  color: #F8F9FA;
}