.sectionOne {
    background: var(--neutral-black);
    height: 100vh;
    box-shadow: 5px 5px 40px 45px rgba(0, 0, 0, 0.4);
    position: relative;
}

.topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.topbarBrand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.topbarLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--neutral-white);
    margin-right: -15px;    
}

.circle:first-child {
    background: linear-gradient(90deg, #22A4C0, #5526DB);
}

.circle:last-child {
    background: linear-gradient(180deg, #22A4C0, #5526DB);
}

.topbarBrand h1 {
    font-size: 32px; 
}

.topbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    gap: 50px;
    font-size: 18px;
}

.topbarLinks li a, .topbar a {
    text-decoration: none;
    cursor: pointer;
}

.userReg {
    background: var(--neutral-black);
    display: flex;
    gap: 30px;
}

.loginButton {
    border: 0;
    outline: 0;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.rgstrButton {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: none;
    outline: 0;
    padding: 8px 15px 8px;
    border: 2px solid var(--neutral-white);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 10rem;
    gap: 15px;
    text-align: center;
}

.heroContent h1 {
    color: var(--neutral-white);
    font-size: 4rem;
    font-weight: 600;
}

.heroContent h6 {
    color: #c2c2c2;
    font-size: 1.5rem;
    font-weight: 400;
}

.rgstrButton:hover {
    color: var(--neutral-black);
    background: var(--neutral-white);
}

.getStartedButton {
    font-size: calc(1vw + 1vh);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 25px;
    background-image: linear-gradient(to left, #03D2FF, #6920E1);
    background-size: 200%;
    outline: 0;
    border: 0;
    border-radius: 15px;
    padding: 20px 35px 20px;
    cursor: pointer;
    transition: 0.4s ease-in;
}

.getStartedButton:hover {
    background-position: top;
}

.sectionTwo {
    background: none;
    height: 100vh;
    position: relative;
    margin-top: 50px;
}

@media (max-width: 1000px) {
    .topbar {
        flex-direction: column;
        height: fit-content;
        padding-top: 25px;
        gap: 25px;
    }

    .topbarBrand h1 {
        font-size: calc(2vw + 2vh);
    }

    .topbarLinks {
        font-size: calc(1.25vw + 1vh);
        gap: 25px;
    }

    .loginButton, .rgstrButton {
        font-size: calc(1vw + 1vh);
    }

    .heroContent {
        margin-top: 5rem;
    }

    .heroContent h1 {
        font-size: calc(5vw + 1vh);
    }

    .heroContent h6 {
        font-size: calc(1vw + 1vh);
    }
}