.topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.topbarBrand {
    display: flex;
    gap: 35px;
}

.topbarLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--neutral-white);
    margin-right: -15px;    
    border: 2px solid;
}

.circle:first-child {
    background: linear-gradient(90deg, #22A4C0, #5526DB);
}

.circle:last-child {
    background: linear-gradient(180deg, #22A4C0, #5526DB);
}

.topbarBrand h1 {
    font-size: 32px; 
}

.topbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    gap: 50px;
    font-size: 18px;
}

.topbarLinks li a, .topbar a {
    text-decoration: none;
    cursor: pointer;
}

.userReg {
    display: flex;
    gap: 30px;
}

.loginButton {
    border: 0;
    outline: 0;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.rgstrButton {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: none;
    outline: 0;
    padding: 10px 15px 10px;
    border: 2px solid var(--neutral-white);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.rgstrButton:hover {
    color: var(--neutral-black);
    background: var(--neutral-white);
}

@media (max-width: 1000px) {

}